@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Nunito');
$poppins: 'Poppins',
sans-serif;
$nunito: 'Nunito',
sans-serif;
$red: #D32F2F;